<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  {% block title %}
  <title>Almacen Yuyos</title>
  {% endblock %}
  {% load static %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" href="{% static 'css/css.css' %}">
</head>

<body>

  <div>
    <nav class="scrolled">
      <div class="logo"><img src="{% static 'img/LOS YUYITOS.png' %}"></div>
      <ul>
        <li><a href="#">Iniciar sesión</a></li>
      </ul>
    </nav>
  </div>
  
  <div>
  {% block contenido %}

  {% endblock contenido %}
  </div>
<script  src="{% static 'js/js.js' %}"></script>
</body>
</html>