{% extends "bandasform.html"%}

{% block content%}
<style>
    h1{
      font-size: 0.8cm;
      color: rgb(127, 140, 179);
      text-transform: uppercase;
      font-weight: 200;
      text-align: center;
      margin-bottom: 15px;
    }
    table{
      width:100%;
      table-layout: fixed;
    }
    
    .tbl-header{
      background-color: rgba(255, 255, 255, 0.788);
     }
    .tbl-content{
      height:300px;
      overflow-x:auto;
      margin-top: 0px;
      border: 1px solid rgba(255, 255, 255, 0.747);
    }
    th{
      padding: 20px 15px;
      text-align: left;
      font-weight: 500;
      font-size: 12px;
      color: rgb(0, 0, 0);
      text-transform: uppercase;
    }
    td{
      padding: 15px;
      text-align: left;
      vertical-align:middle;
      font-weight: 300;
      font-size: 12px;
      color: rgb(0, 0, 0);
      border-bottom: solid 1px rgba(255, 255, 255, 0.877);
      background-color: #93b5b3a9;
    }
    </style>

  <!--for demo wrap-->
  <h1>Listado de bandas sugeridas</h1>

  <form action="" method="POST">
        Busca la banda: 
        <input type="text" name="nomb" value="{{nomb}}"  >
        <input type="submit" value="Filtrar"> 

           busca por genero
        <input type="text" name="gen" value="{{gen}}"  >
        <input type="submit" value="Filtrar"> 
        {% load static%}
        <a href="{% url 'artistas_form'%}">------------>Agrega tu sugerencia aqui</a>

        {% csrf_token %}
  </form>
    <br>
  <div class="tbl-header">
    <table cellpadding="0" cellspacing="0" border="0">
      <th>Nombre</th>
      <th>Pais de Origen</th>
      <th>Discos</th>
      <th>Integrantes</th>
      <th>Genero</th>
      <th>Fundacion</th>
      <th>Opciones</th>
    </table>
  </div>

  <div class="tbl-content">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
    {% for a in artis %}
    <tr>
    <td>{{a.nombre}}</td>
    <td>{{a.nacionalidad}}</td>
    <td>{{a.discos}}</td>
    <td>{{a.n_integrantes}}</td>
    <td>{{a.gen}}</td>
    <td>{{a.fundacion}}</td>
    <td>
    <a href="{% url 'eliminar' a.id%}">Eliminar</a>
    <br>
    <a href="{% url 'modificar' a.id %}">Modificar</a>
    </td>
    </tr>
    {% endfor %}
</tbody>
</table>
</div>



{% endblock %}